[defaults]

ansible_managed = This file is managed by Ansible.%n
  template: {file}
  date: %Y-%m-%d %H:%M:%S
  user: {uid}
  host: {host}

inventory= ./inventory/ec2.py
timeout=3
forks=64
remote_user=ansible
retry_files_enabled=False
private_key_file=
roles_path=roles/internal:roles/external

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True